.login-card {
    background: rgba(255, 255, 255, 1);
    width: 520px;
    /* height: 476.51px; */
}
.logoFrame {
    width: 142px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 4.12px;
}

