/* .height{
    height: calc(100vh - 104px);
} */

/*
.conta{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(367px, 1fr));   
    grid-gap: 32px;
}

*/
/* .box{
    border-radius: 5px;
} */

/* .thead{
    height: 33px;
    background-color: rebeccapurple;
} */